@page "/cCliente"
<h3>Consulta de Clientes</h3>

<div class="form-group row">
	<label for="filtro">Filtro</label>
	<div class="input-group  col-sm-10">
		<select class="form-control" @bind="Filtro">
			<option value="" disabled selected>Seleccione un Criterio</option>
			<option value="Todo">Todo</option>
			<option value="Id">Id</option>
			<option value="Nombres">Nombres</option>
		</select>

		<div align="right" class="input-group col-md-8">
			<label for="criterio"> Criterio&nbsp;&nbsp; </label>
			<input type="search" class="form-control" @bind-value="Criterio" />
		</div>
		<button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
	</div>
</div>

<div class="form-group row">
	<input class="ml-1" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1"> Filtrar por Fecha
	<div class="input-group  col-sm-6">
		<!--Desde-->
		<label for="DesdeFecha" class="col-auto">Desde</label>
		<input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control col-6 " input />
		<!--Hasta-->
		<label for="HastaFechaInput" class="col-auto">&nbsp;&nbsp;Hasta</label>
		<input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control col-6" />
	</div>
</div>


<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Cliente Id</th>
			<th>Nombres</th>
			<th>Direccion</th>
			<th>Telefono</th>
			<th>Email</th>
			<th>Deuda</th>
			<th>Fecha Creacion</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in lista)
		{
			<tr>
				<th>@item.ClienteId</th>
				<th>@item.Nombres</th>
				<th>@item.Direccion</th>
				<th>@item.Telefono</th>
				<th>@item.Email</th>
				<th>@item.Deuda</th>
				<th>@item.Fecha.ToString("dd/MM/yyyy")</th>
				<td><a class="btn btn-sm btn-outline-primary" href="rClientes/@item.ClienteId">Ver</a></td>
			</tr>
		}
	</tbody>
</table>

<h5 class="text-success">@mensaje</h5>


@code {

	private List<Clientes> lista { get; set; }

	private string Filtro { get; set; }
	private string Criterio { get; set; }
	private string mensaje;

	public bool BuscarFecha { get; set; }
	public DateTime DesdeFecha { get; set; }
	public DateTime HastaFecha { get; set; }


	protected override void OnInitialized()
	{
		lista = new List<Clientes>();
		DesdeFecha = DateTime.Now;
		HastaFecha = DateTime.Now;
	}

	private void Buscar()
	{
		ClientesController controller = new ClientesController();

		try
		{
			if (Filtro == null)
			{
				mensaje = "Debe seleccionar un Criterio";
			}
			else
			{
				lista = controller.GetList(a => true);

				if (lista.Count == 0)
				{
					mensaje = "No hay Producto Registrado";
				}
				else
				{
					mensaje = "";
					switch (Filtro)
					{
						case "Todo":
							lista = controller.GetList(e => true);
							break;
						case "Id":
							lista = controller.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
							break;
						case "Nombres":
							lista = controller.GetList(e => e.Nombres == Criterio);
							break;
					}
					if (BuscarFecha == true)
					{
						lista = controller.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
					}
				}
			}
		}
		catch (Exception)
		{
			throw;
		}
	}
}

