@page "/cCliente"

<EditForm Model="lista">

	<center>
		<h1>Consulta de Clientes</h1>
	</center>

	<div class="form-row">

		<div class="col-sm-0     col-md-0     col-lg-1     col-xl-2" />

		<!-- Filtro-->
		<div class="form-inline DivConsulta col-sm-12     col-md-6     col-lg-5     col-xl-4">
			<label for="Filtro" class="LabelConsulta     col-sm-3     col-md-2">Filtro: </label>
			<select class="form-control     col-sm-8     col-md-9" @bind="Filtro">
				<option value="Todo">Todo</option>
				<option value="Id">Id</option>
				<option value="Nombres">Nombre</option>
			</select>
		</div>

		<!-- Criterio -->
		<div class="form-inline DivConsulta col-sm-12     col-md-6     col-lg-5     col-xl-4">
			<label for="Criterio" class="LabelConsulta     col-sm-3      col-md-2">Criterio: </label>
			<InputText @bind-Value="@Criterio" class="form-control     col-sm-8     col-md-9" placeholder="Criterio" />
			<p class="validation-message"> @mensaje </p>
		</div>

		<div class="col-sm-0     col-md-0     col-lg-1     col-xl-2" />

		<br />

		<!-- Filtrar por fecha -->
		<div class="DivConsulta text-center     col-12">
			<input class="ml-1" type="checkbox" @bind-value="Filtro" style="margin-top:15px">&nbsp;&nbsp;Filtrar por Fecha
		</div>

		<div class="col-lg-1     col-xl-2" />

		<!-- Fecha desde-->
		<div class="form-inline DivConsulta    container     col-sm-5     col-md-5     col-lg-4          col-xl-3">
			<label for="Desde" class="LabelConsulta     col-sm-3     col-md-2">Desde: </label>
			<InputDate @bind-Value="@DesdeFecha" class="form-control     col-sm-8     col-md-9" />
		</div>

		<!-- Fecha Hasta-->
		<div class="form-inline DivConsulta     container     col-sm-5     col-md-5     col-lg-4     col-xl-3">
			<label for="Hasta" class="LabelConsulta     col-sm-3     col-md-2">Hasta: </label>
			<InputDate @bind-Value="@HastaFecha" class="form-control     col-sm-8     col-md-9" />
		</div>

		<!-- Boton Buscar-->
		<div class="DivConsulta text-center     container     col-sm-12     col-md-12          col-lg-2     col-xl-1">
			<button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
		</div>

		<div class="col-sm-0     col-md-0     col-lg-1     col-xl-2" />


		<table class="table" style="margin-top: 20px">
			<thead class="thead-light">
				<tr>
					<th>Codigo</th>
					<th>Nombres</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Deuda</th>
					<th>Fecha Creacion</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (lista.Count == 0)
				{
					<tr>
						<th colspan="12" style="color:black; text-align: center">"No hay datos que mostrar"</th>
					</tr>
				}
				else
				{
					@foreach (var item in lista)
					{
						<tr>
							<th>@item.ClienteId</th>
							<th>@item.Nombres</th>
							<th>@item.Direccion</th>
							<th>@item.Telefono</th>
							<th>@item.Email</th>
							<th>@item.Deuda</th>
							<th>@item.Fecha.ToString("dd/MM/yyyy")</th>
							<td><a class="btn btn-sm btn-outline-primary" href="rClientes/@item.ClienteId">Ver</a></td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</EditForm>


@code {

	private List<Clientes> lista { get; set; }
	ClientesController controller = new ClientesController();

	private string Filtro { get; set; }
	private string Criterio { get; set; }
	private string mensaje = string.Empty;

	public bool BuscarFecha { get; set; }
	public DateTime DesdeFecha { get; set; }
	public DateTime HastaFecha { get; set; }


	protected override void OnInitialized()
	{
		lista = new List<Clientes>();
		lista = controller.GetList(e => true);
		DesdeFecha = DateTime.Now;
		HastaFecha = DateTime.Now;
		Filtro = "Todo";
	}

	private void Buscar()
	{

		try
		{
			if (Filtro == "0")
			{
				lista = controller.GetList(e => true);
			}
			else
			{
				if (Criterio == "")
				{
					mensaje = "Agregue el criterio de busqueda.";
				}
				else
				{
					lista = controller.GetList(e => true);

					switch (Filtro)
					{
						case "Todo":
							lista = controller.GetList(e => true);
							mensaje = "";
							break;
						case "Id":
							lista = controller.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
							mensaje = "";
							break;
						case "Nombres":
							lista = controller.GetList(e => e.Nombres == Criterio);
							mensaje = "";
							break;
					}
				}
			}
			if (BuscarFecha == true && lista.Count > 0)
			{
				lista = controller.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
			}
		}
		catch (Exception)
		{
			throw;
		}
	}
}

