@page "/cProveedor"
<h3>Consulta de Proveedor</h3>

<div class="form-group row">
	<label for="filtro">Filtro</label>
	<div class="input-group  col-sm-10">
		<select class="form-control" @bind="Filtro">
			<option value="" disabled selected>Seleccione un Criterio</option>
			<option value="Todo">Todo</option>
			<option value="Id">Id</option>
			<option value="Nombre">Nombre</option>
			<option value="Direccion">Direccion</option>
			<option value="Telefono">Telefono</option>
		</select>

		<div align="right" class="input-group col-md-8">
			<label for="criterio"> Criterio&nbsp;&nbsp; </label>
			<input type="search" class="form-control" @bind-value="Criterio" />
		</div>
		<button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
	</div>
</div>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Proveedor Id</th>
			<th>Nombre</th>
			<th>Direccion</th>
			<th>Telefono</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in lista)
		{
			<tr>
				<th>@item.ProveedorId</th>
				<th>@item.Nombre</th>
				<th>@item.Direccion</th>
				<th>@item.Telefono</th>
				<td><a class="btn btn-sm btn-outline-primary" href="rProveedores/@item.ProveedorId">Ver</a></td>
			</tr>
		}
	</tbody>
</table>

<h5 class="text-success">@mensaje</h5>


@code {

	private List<Proveedores> lista { get; set; }

	private string Filtro { get; set; }
	private string Criterio { get; set; }
	private string mensaje;

	public bool BuscarFecha { get; set; }
	public DateTime DesdeFecha { get; set; }
	public DateTime HastaFecha { get; set; }


	protected override void OnInitialized()
	{
		lista = new List<Proveedores>();
		DesdeFecha = DateTime.Now;
		HastaFecha = DateTime.Now;
	}

	private void Buscar()
	{
		ProveedoresController controller = new ProveedoresController();

		try
		{
			if (Filtro == null)
			{
				mensaje = "Debe seleccionar un Criterio";
			}
			else
			{
				lista = controller.GetList(a => true);

				if (lista.Count == 0)
				{
					mensaje = "No hay Proveedores Registrado";
				}
				else
				{
					mensaje = "";
					switch (Filtro)
					{
						case "Todo":
							lista = controller.GetList(e => true);
							break;
						case "Id":
							lista = controller.GetList(e => e.ProveedorId == Convert.ToInt32(Criterio));
							break;
						case "Nombre":
							lista = controller.GetList(e => e.Nombre == Criterio);
							break;
						case "Direccion":
							lista = controller.GetList(e => e.Direccion == Criterio);
							break;
						case "Telefono":
							lista = controller.GetList(e => e.Telefono == Criterio);
							break;
					}
				}
			}
		}
		catch (Exception)
		{
			throw;
		}
	}
}

